caselaw
clerc
generation/evaluation
CLERC-generation-workshop
.vscode
__pycache__
*.pickle
*.bin
_junk
log.txt
log.txt
_backup


thesis_service_account.json
.env
*.jsonl


data

*.txt
!generation/workshop/results/*.txt
generation/dataset-preparation/obli_qa/obliqa_documents.json
*.json

*.zip
*.gz
archive
